services:
  postgres:
    image: postgres:16
    container_name: auth-postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5432:5432"
    volumes:
      - auth_pg_data:/var/lib/postgresql/data

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    ports:
      - "8081:8080"
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  auth_pg_data:
