spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://postgres:5432/auth_db
    username: auth_user
    password: auth_pass
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

security:
  jwt:
    private-key-path: ${JWT_PRIVATE_KEY_PATH}
